<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Event</title>

</head>
<body>
<!-- navbar on top -->
<div th:include="/includes/navbar.html"></div>

<div class="card mx-auto" style="width: 50rem">
    <p></p>
    <div class="card text-center">
        <div class="card-header">
            <span class="btn btn-success">Posted by: <span
                    th:text="${singleEvent.eventOrganiser}">NICKNAME</span></span>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong th:text="${singleEvent.eventName}">EVENT NAME</strong></h5>
            <p class="card-text">
                <span th:text="${singleEvent.eventDescription}">DESCRIPTION</span></p>
        </div>
        <div class="card-body text-muted">
            <p>Starts:
                <span th:text="${#temporals.format(singleEvent.eventStart, 'dd-MM-yyyy HH:mm')}">START DATE</span></p>
            <p>Ends: <span th:text="${#temporals.format(singleEvent.eventEnd, 'dd-MM-yyyy HH:mm')}">END DATE</span></p>
        </div>

        <!--   comment count        -->
        <div class="card-footer">
            <span class="btn btn-success" style="float: left">COMMENTS: <span th:text="${commentCount}">X</span></span>
        </div>


        <!--    comment add form    -->
        <div class="card-body" sec:authorize="hasRole('ROLE_USER')">
            <form role="form"
                  th:action="@{/event(id=${singleEvent.id})}"
                  th:object="${commentForm}"
                  method="post">

                <div class="form-group">
                    <input type="text"
                           name="commentContents"
                           id="commentContents"
                           class="form-control input-sm"
                           placeholder="Write a comment here.*"
                           th:field="*{commentContents}">
                    <small>*maximum 500 characters
                    </small>
                </div>

                <input type="submit"

                       value="ADD COMMENT"
                       class="btn btn-info btn-block">
                <div th:text="${error}"></div>

            </form>

        </div>

        <!--    comments    -->
        <div th:each="comment : ${comments}">

            <div class="card text-left">
                <div class="card-header">
                    <span th:text="${comment.commentAuthor}">NICKNAME</span>
                    <span style="float: right" th:text="${#temporals.format(comment.postDateTime, 'dd-MM-yyyy HH:mm:ss')}">POST DATE</span>
                </div>
                <div class="card-body text-center" >
                    <span th:text="${comment.commentContents}">COMMENT</span>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>