<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Index</title>

</head>
<body>
<!-- navbar on top -->
<div th:include="/includes/navbar.html"></div>

<p>This is Event Manager main page!</p>
<div th:if="${accountCreated != null}">
    <p>Created account for: <span th:text="${accountCreated}">.</span></p>
</div>
<div th:if="${eventAdded != null}">
    <p><span th:text="${eventAdded}"></span> event created.</p>
</div>

<div th:if="${searchedEventName != null}">
    <p>Search
        <span th:if="${searchedEventName != null}">
            <span th:text="${searchedEventName}">SEARCHED EVENT NAME</span>
        </span> in
        <span th:text="${eventFilter}"> EVENT FILTER NAME</span>
       results:</p>
</div>

<div th:if="${events.isEmpty()}">
    <div>No current events.</div>
</div>
<div th:each="event : ${events}" class="card mx-auto" style="width: 50rem">
    <p></p>
    <div class="card text-center">
        <div class="card-header">
            <span class="btn btn-success">Posted by: <span th:text="${event.eventOrganiser}">NICKNAME</span></span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <a th:href="@{/event(id=${event.id})}">
                    <strong th:text="${event.eventName}">EVENT NAME</strong></a></h5>
            <p class="card-text">
                <span th:text="${#strings.abbreviate(event.eventDescription,50)}">DESCRIPTION </span></p>
        </div>
        <div class="card-body text-muted">
            <p>Starts: <span th:text="${#temporals.format(event.eventStart, 'dd-MM-yyyy HH:mm')}">START DATE</span></p>
            <p>Ends: <span th:text="${#temporals.format(event.eventEnd, 'dd-MM-yyyy HH:mm')}">END DATE</span></p>
        </div>

        <!--   comment count        -->
        <div class="card-footer">
            <span class="btn btn-success" style="float: left">COMMENTS: <span th:text="${#lists.size(event.comments)}">X</span></span>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>